@model IEnumerable<MYH_Reports.Models.JobDetailsModel>

@{
    ViewData["Title"] = "JobView";
}

<h1>JobView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentReceivedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentReceivedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
